h1 {
  font-size: 30px;
  font-family: "Shrikhand", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.loading {
  position: relative;
  width: 4rem;
  height: 4rem;
  transform-style: preserve-3d;
  perspective: 800px;
}
.loading .arc {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-bottom: 3px solid var(--primary-color);
}
.loading .arc:nth-child(1) {
  -webkit-animation: rotate1 1.15s linear infinite;
          animation: rotate1 1.15s linear infinite;
}
.loading .arc:nth-child(2) {
  -webkit-animation: rotate2 1.15s linear infinite;
          animation: rotate2 1.15s linear infinite;
}
.loading .arc:nth-child(3) {
  -webkit-animation: rotate3 1.15s linear infinite;
          animation: rotate3 1.15s linear infinite;
}
.loading .arc:nth-child(1) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.loading .arc:nth-child(2) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.loading .arc:nth-child(3) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes rotate1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}

@keyframes rotate1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}
@-webkit-keyframes rotate2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@keyframes rotate2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@-webkit-keyframes rotate3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}
@keyframes rotate3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}
@media (max-width: 768px) {
  .mainheader {
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  }
  .mainheader__logo img {
    width: 60%;
    text-align: center;
    margin: auto;
    display: flex;
  }
  .localisation {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    background-color: rgb(230, 230, 230);
    font-size: 1.2rem;
    position: relative;
  }
  .localisation__block {
    display: inherit;
  }
  .localisation__icon {
    margin-right: 1rem;
  }
  .localisation__text {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
  }
  .accroche {
    padding: 2rem;
    text-align: center;
    background-color: rgba(230, 230, 230, 0.5);
  }
  .accroche__titre {
    margin: 0;
  }
  .accroche__text {
    font-weight: 300;
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }
  .accroche__btn {
    margin-top: 10px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50px;
    padding: 20px;
    background: rgb(0, 0, 0);
    background-image: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 2px 2px 10px #c4c3c0;
    color: #fff;
    border: none;
  }
  .fonctionnement {
    background-color: #fff;
    padding: 35px 20px 45px 20px;
    margin-bottom: 20px;
  }
  .fonctionnement__titre {
    margin-bottom: 30px;
  }
  .fonctionnement__step {
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #c4c3c0;
    padding: 0 70px 0 10px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .fonctionnement__step:hover {
    background-color: #f2eafb;
  }
  .fonctionnement__step span {
    font-weight: 700;
    font-size: 16px;
  }
  .fonctionnement__icon {
    font-size: 18px;
    height: 19px;
    margin-right: 15px;
    color: rgba(0, 0, 0, 0.6);
  }
  .fonctionnement__step--number {
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: #9356DC;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -20px;
    color: white;
  }
  .restaurants {
    padding: 55px 20px 45px 20px;
    background-color: #f6f6f6;
  }
  .restaurants__titre {
    margin-bottom: 30px;
  }
  .restaurants__cartes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    row-gap: 2rem;
  }
  .restaurants__carte {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: 0.2s;
  }
  .restaurants__carte--img {
    height: 13rem;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants__info--nom {
    margin-bottom: 10px;
    padding-left: 5px;
    margin-top: 5px;
  }
  .footer {
    background-color: #353535;
    padding: 25px;
  }
  .footer__logo {
    font-size: 24px;
    font-family: "Shrikhand", sans-serif;
    color: white;
    margin-bottom: 15px;
  }
  .footer__link {
    color: white;
  }
  .footer__icon {
    margin-right: 10px;
  }
  .footer__element {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */