@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 30px;
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* KEYFRAMES LOADER */
@-webkit-keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0deg);
  }
}
@keyframes spin3D {
  from {
    transform: rotate3d(0.5, 0.5, 0.5, 360deg);
  }
  to {
    transform: rotate3d(0deg);
  }
}
@-webkit-keyframes loader {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
  }
}
@keyframes loader {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
  }
}
.badge_nouveau {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 15px;
}

.heart {
  font-size: 20px;
  color: grey;
  transform: scale(1);
}
.heart:hover {
  -webkit-animation: fill 1s ease-out;
          animation: fill 1s ease-out;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.4);
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.btn {
  cursor: pointer;
  display: block;
  border: none;
  margin: auto;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 50px;
  box-shadow: 2px 2px 10px #c4c3c0;
  padding: 15px 20px;
  font-weight: bold;
  transition: transform 2s;
  opacity: 1;
}
.btn:hover {
  opacity: 0.7;
  box-shadow: 2px 2px 20px black;
}

@-webkit-keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.icone_check {
  color: white;
  font-size: 25px;
  opacity: 1;
  transition: all 1s ease-in-out;
  transform: rotate(0deg);
}

@-webkit-keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes apparition {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delai1 {
  -webkit-animation-delay: 0.1s !important;
          animation-delay: 0.1s !important;
}

.delai2 {
  -webkit-animation-delay: 0.5s !important;
          animation-delay: 0.5s !important;
}

.delai3 {
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
}

.mainheader {
  padding: 1rem;
}
.mainheader__logo img {
  width: 40%;
  display: flex;
  margin: auto;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  background-color: rgb(230, 230, 230);
}
.localisation__block {
  display: inherit;
}
.localisation__icon {
  margin-right: 1.25rem;
  margin-top: 0.1rem;
}
.localisation__text {
  font-weight: 700;
  font-size: 1.2rem;
}

@media (min-width: 1224px) {
  .mainheader {
    padding: 2rem;
  }
  .mainheader__logo img {
    width: 15%;
    display: flex;
    margin: auto;
  }
  .localisation {
    padding: 2rem;
  }
  .localisation__icon {
    font-size: 1.5rem;
    margin-right: 1.25rem;
    margin-top: 0.1rem;
  }
  .localisation__text {
    font-weight: 700;
    font-size: 1.5rem;
  }
}
.loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #c4c3c0;
  position: fixed;
  z-index: 1;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: loader 3s;
          animation: loader 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.loader .spinner-box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .leo-border-1 {
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.1) 33%, rgb(255, 121, 218) 100%);
  -webkit-animation: spin3D 1.8s linear 0s infinite;
          animation: spin3D 1.8s linear 0s infinite;
}
.loader .leo-core-1 {
  width: 100%;
  height: 100%;
  background-color: rgba(55, 71, 79, 0.6666666667);
  border-radius: 50%;
}
.loader .leo-border-2 {
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(250, 250, 250, 0.1) 33%, rgb(153, 226, 208) 100%);
  -webkit-animation: spin3D 2.2s linear 0s infinite;
          animation: spin3D 2.2s linear 0s infinite;
}
.loader .leo-core-2 {
  width: 100%;
  height: 100%;
  background-color: rgba(29, 38, 48, 0.6666666667);
  border-radius: 50%;
}

.footer {
  background-color: #353535;
  padding: 25px;
}
.footer__logo {
  font-size: 24px;
  font-family: "Shrikhand", sans-serif;
  color: white;
  margin-bottom: 15px;
}
.footer__link {
  color: white;
}
.footer__icon {
  margin-right: 10px;
}
.footer__element {
  margin-bottom: 10px;
}

@media (min-width: 1224px) {
  .footer {
    margin: auto;
  }
}
.accroche {
  padding: 2rem;
  text-align: center;
  background-color: rgba(230, 230, 230, 0.5);
}
.accroche__text {
  font-weight: 300;
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

.fonctionnement {
  background-color: #fff;
  padding: 45px 20px;
}
.fonctionnement__titre {
  margin-bottom: 30px;
}
.fonctionnement__etape {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #c4c3c0;
  padding: 0 70px 0 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.fonctionnement__etape--icon {
  margin-right: 15px;
  color: #c4c3c0;
}
.fonctionnement__etape span {
  font-weight: 700;
  font-size: 16px;
}
.fonctionnement__etape--numero {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -22px;
  color: white;
}
.fonctionnement__etape:hover {
  background-color: #f2eafb;
}
.fonctionnement__etape:hover :nth-child(2) {
  color: #9356DC;
}

.restaurants {
  padding: 40px 20px;
  background-color: #f6f6f6;
}
.restaurants__titre {
  margin-bottom: 30px;
}
.restaurants__card {
  position: relative;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #c4c3c0;
}
.restaurants__card--img {
  display: block;
  max-height: 175px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__card--text {
  padding: 20px 15px 20px 15px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1224px) {
  .accroche {
    padding: 3rem;
  }
  .accroche__titre {
    font-size: 2rem;
  }
  .accroche__text {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 2.5rem 0;
  }
  .fonctionnement {
    background-color: #fff;
    padding: 45px 20px;
  }
  .fonctionnement__titre {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
  }
  .fonctionnement__etapes {
    max-width: 30%;
    margin: auto;
  }
  .restaurants {
    padding: 40px 20px;
    background-color: #f6f6f6;
  }
  .restaurants__titre {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
  }
  .restaurants__card {
    margin: 20px 50px 30px 50px;
    width: 550px;
  }
  .restaurants__card--text {
    padding: 10px 15px 20px 15px;
    display: flex;
    justify-content: space-between;
  }
  .restaurants__card--text i {
    margin-top: 3px;
  }
  .restaurants__card--text h3 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  .restaurants__card--text p {
    font-size: 1.3rem;
  }
  .ensemble-restaurants {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
/* ============ Header et image top ============ */
header i {
  position: absolute;
  left: 1rem;
  margin-top: 5px;
}

.menuImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

/* ============ Nom du restraurant et bouton like ============ */
.menuComplet {
  background: #f2f2f2;
  position: relative;
  border-radius: 45px 45px 0px 0px;
  margin-top: -70px;
  padding: 20px;
}

.restaurant__titre {
  display: flex;
}

.restaurant__btn {
  border: none;
  display: block;
  margin-right: 0;
  margin-left: auto;
  padding-right: 5px;
}

/* ============ Entrées - plats - desserts ============ */
.plats {
  margin-bottom: 30px;
}
.plats__titre {
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 100;
}
.plats__titre ::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 45px;
  height: 3px;
  background-color: #99E2D0;
  -webkit-animation: progress 1s;
          animation: progress 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.plats h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.plats p {
  font-size: 16px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.plats span {
  font-size: 16px;
  font-weight: 700;
}
.plats__elements {
  height: 70px;
  width: 100%;
  padding-left: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  -webkit-animation: apparition 0.5s;
          animation: apparition 0.5s;
  transform: scale(0);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.plats__elements__text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
}
.plats__elements__text--over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plats__elements__prix {
  margin-left: 10px;
}
.plats__elements__validation {
  height: 70px;
  width: 80px;
  opacity: 0;
  background-color: #99E2D0;
  margin-left: 25px;
  margin-right: -70px;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.plats__elements:hover :nth-child(3) {
  opacity: 1;
  margin-right: 0px;
}
.plats__elements:hover .icone_check {
  opacity: 1;
  transform: rotate(-360deg);
}

.btn-commander {
  background-color: #f2f2f2;
  padding-bottom: 50px;
}

@media (min-width: 1224px) {
  .restaurant__titre {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .restaurant__btn {
    margin-left: 2rem;
    padding-right: 0;
  }
  .responsive {
    display: flex;
    justify-content: space-around;
  }
  .plats__elements {
    width: 400px;
  }
}/*# sourceMappingURL=main.css.map */