h1 {
  font-size: 30px;
  font-family: "Shrikhand", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.loading {
  position: relative;
  width: 4rem;
  height: 4rem;
  transform-style: preserve-3d;
  perspective: 800px;
}
.loading .arc {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-bottom: 3px solid var(--primary-color);
}
.loading .arc:nth-child(1) {
  -webkit-animation: rotate1 1.15s linear infinite;
          animation: rotate1 1.15s linear infinite;
}
.loading .arc:nth-child(2) {
  -webkit-animation: rotate2 1.15s linear infinite;
          animation: rotate2 1.15s linear infinite;
}
.loading .arc:nth-child(3) {
  -webkit-animation: rotate3 1.15s linear infinite;
          animation: rotate3 1.15s linear infinite;
}
.loading .arc:nth-child(1) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.loading .arc:nth-child(2) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.loading .arc:nth-child(3) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes rotate1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}

@keyframes rotate1 {
  from {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
  }
}
@-webkit-keyframes rotate2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@keyframes rotate2 {
  from {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
  }
  to {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
  }
}
@-webkit-keyframes rotate3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}
@keyframes rotate3 {
  from {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
  }
  to {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
  }
}
@media (max-width: 768px) {
  .mainheader {
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  }
  .mainheader__logo img {
    width: 60%;
    text-align: center;
    margin: auto;
    display: flex;
  }
  .localisation {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    background-color: rgb(243, 243, 243);
    font-size: 1.2rem;
    position: relative;
  }
  .localisation__block {
    display: inherit;
  }
  .localisation__icon {
    margin-right: 1rem;
  }
  .localisation__text {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
  }
  .accroche {
    padding: 2rem;
    text-align: center;
    background-color: rgba(250, 250, 250, 0.6);
  }
  .accroche__titre {
    margin: 0;
  }
  .accroche__text {
    font-weight: 300;
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }
  .accroche__btn {
    border-radius: 50px;
    padding: 15px 20px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgb(255, 121, 218) 100%);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
  }
}/*# sourceMappingURL=main.css.map */