/* ============ LA PALETTE DU GOUT ============ */

/* ============ Header et image top ============ */

header i {
    position: absolute;
    left: 1rem;
    margin-top: 5px;
}

.menuImg img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* ============ Nom du restraurant et bouton like ============ */

.menuComplet {
    background: #f2f2f2;
    position: relative;
    border-radius: 45px 45px 0px 0px;
    margin-top: -70px;
    padding: 20px;
}

/* ============ Entrées ============ */


/* ============ Plats ============ */


/* ============ Desserts ============ */



/* ============ Bouton commander ============ */