/* ============ LA PALETTE DU GOUT ============ */

/* ============ Header et image top ============ */

header i {
    position: absolute;
    left: 1rem;
    margin-top: 5px;
}

.menuImg img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* ============ Nom du restraurant et bouton like ============ */

.menuComplet {
    background: #f2f2f2;
    position: relative;
    border-radius: 45px 45px 0px 0px;
    margin-top: -70px;
    padding: 20px;
}

.restaurant__titre {
    display: flex;
}

.restaurant__btn {
    border: none;
    display: block;
    margin-right: 0;
    margin-left: auto;
    padding-right: 5px;
}

/* ============ Entrées - plats - desserts ============ */

.plats {
    margin-bottom: 30px;

    &__titre {
        margin-bottom: 20px;
        margin-top: 20px;
        text-transform: uppercase;
        font-weight: 100;
        ::after{
            content: "";
            display: block;
            margin-top: 5px;
            width: 45px;
            height: 3px;
            background-color: $color-tertiary;
            animation: progress 1s;
            animation-fill-mode: both;
    }
}

    & h4 {
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    & p {
        font-size: 16px;
        margin-bottom: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    & span {
        font-size: 16px;
        font-weight: 700;
    }

    &__elements {
        @include plat-restaurant;
    
        &__text{
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-top: 10px;
            &--over{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__prix{
            margin-left: 10px;
        }
        &__validation {
            height: 70px;
            width: 80px;
            opacity: 0;
            background-color: $color-tertiary;
            margin-left: 25px;
            margin-right: -70px;
            border-radius: 0 10px 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 1s ease-in-out;
        }
        &:hover :nth-child(3) {
            opacity: 1;
            margin-right: 0px;
        }
        &:hover .icone_check{
            opacity: 1;
            transform: rotate(-360deg);
        }
    }
}


.btn-commander {
   background-color: #f2f2f2;
   padding-bottom: 50px;
}


@media (min-width : 1224px) {

    .restaurant__titre {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .restaurant__btn {
        margin-left: 2rem;
        padding-right: 0;
    }

    .responsive {
        display: flex;
        justify-content: space-around;
    }

    .plats__elements {
        width: 400px;
    }

}

