.mainheader {
    padding: 1rem;

    &__logo img {
        width: 40%;
        display: flex;
        margin: auto;
}
}

.localisation {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    background-color: rgb(230, 230, 230);   

    &__block {
        display: inherit;
}

    &__icon {
        margin-right: 1.25rem;
        margin-top: 0.10rem;
}

    &__text {
        font-weight: 700;
        font-size: 1.2rem;
}
}