/* KEYFRAMES LOADER */
  @keyframes spin3D {
    from {
      transform: rotate3d(.5,.5,.5, 360deg);
    }
    to{
      transform: rotate3d(1, 1, 0, 180deg);
      color: black;
    }
  }

//  Animation de disparition du loader
@keyframes loader{
    0%{
        background-color: rgba(0,0,0,1);
    }

    100%{
        background-color:rgba(0,0,0,0.8);
        visibility: hidden;
    }
}

.badge_nouveau{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    background-color: $color-tertiary;
    color: #008766;
    position: absolute;
    right: 10px;
    top: 15px;
}

.heart{
    font-size: 20px;
    color: grey;
    transform: scale(1);
    &:hover{
        animation: fill 1s ease-out;
        color: $color-primary;
        font-weight: bold;
        cursor: pointer;
        transform: scale(1.4);
        animation-duration: 2s;
    }
}

.btn{
    cursor: pointer;
    display: block;
    border: none;
    margin: auto;
    @include gradient-color;  
    color: white;
    border-radius: 50px;
    @include shadow;
    padding: 15px 20px;
    font-weight: bold;
    transition: transform 2s;
    opacity: 1;
    &:hover{
        opacity: 0.7;
        @include darker-shadow;
    }
}

// Remplissage du coeur
@keyframes fill{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

// Animation soulignement -> entrées, plats, desserts
@keyframes progress{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

// Animation plats cochés
.icone_check {
    color: white;
    font-size: 25px;
    opacity: 1;
    transition: all 1s ease-in-out;
    transform: rotate(0deg);
}

// Animation d'apparition des elements "plats-restaurants"
@keyframes apparition{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

// delai d'apparition des elements "plats-restaurants"
.delai1{
    animation-delay: 0.1s !important;
}

.delai2{
    animation-delay: 0.5s !important;
}

.delai3{
    animation-delay: 1s !important;
}
